
  <center>
    <div class="outer-box">
      <div class="login-box">
       
        <input placeholder="Hasta Adı">
        <input placeholder="Hasta Soyadı">
        <input placeholder="E-Mail">
        <input placeholder="TC Kimlik Numarası">
        <input placeholder="Telefon Numarası">
        <input placeholder="Yaş">
  
        <select name="Kan Grubu">
          <option value="AB Rh+">AB Rh+</option>
          <option value="AB Rh-">AB Rh-</option>
          <option value="A Rh+">A Rh+</option>
          <option value="A Rh-">A Rh-</option>
          <option value="B Rh+">B Rh+</option>
          <option value="B Rh-">B Rh-</option>
          <option value="0 Rh+">0 Rh+</option>
          <option value="0 Rh-">0 Rh-</option>
       </select>
       
       <select name="Cinsiyet">
        <option value="Kadın">Kadın</option>
        <option value="Erkek">Erkek</option>
     </select>
  
        <form name="Adres"  >
          <textarea cols="40 " placeholder="Adres" rows="4"></textarea>
        </form>
  
        <button id="btn-login">Kayıt Ekle</button>
  
        </center>
      </div>
    </div>